.login-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0f172a; // темний фон
  font-family: Arial, sans-serif;
}

.login-card {
  width: 360px;
  padding: 30px;
  background: #1e293b;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
  color: white;
}

.login-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.login-input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: #334155;
  color: white;
  transition: 0.2s;
}

.login-input:focus {
  background: #475569;
}

.login-button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #3b82f6;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.login-button:hover {
  background: #2563eb;
}